/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*flex*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/*txt*/

.txt-gray {
    color: #7E7E7E
}

.txt-white {
    color: white;
}

/*border*/

.bd-white {
border: 3px solid white;
width: 50px;
}

.bd-gray {
border: 3px solid gray;
width: 70px;
}

/* # generals*/

body {
    font-family: 'Montserrat' sans-serif;
}

main {
    height: calc(100vh - 100px);
}

/* # sidebar*/

#sidebar {
    background-color: black;
    width: 100px;
    height: calc(100vh - 100px);
}

/* # home */

#home {
    overflow: auto;
    color: white;
    background-color: #141922;
    width: 100vw;
}

/*home header*/

.home-header {
    background-color: rgba(8, 11, 18, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
}

/* # footer */

footer {
    height: 100px;
    background-color: #282828;
}

footer > div {
    border: 3px dashed white;

    flex-basis: calc(100% / 3);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.song-played {
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

footer img {
    width: 58px;
}

.volume {
    gap: 10px;
    justify-content: flex-start;
}

.rip-bar > * {
    text-align: center;
}

/* # responsive */

@media screen and (min-width:639px) {
    #sidebar {
        width: 300px;
    }
}