/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*flex*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/*txt*/

.txt-gray {
    color: #7E7E7E
}

.txt-white {
    color: white;
}

/*border*/

.bd-white {
    border: 3px solid white;
    width: 30px;
}

.bd-gray {
    border: 3px solid gray;
    width: 50px;
}

.small {
    align-self: center;
    height: 1px;
}

/*buttons*/

.btn-big {
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 25px;
}

/* # generals*/

body {
    font-family: 'Montserrat' sans-serif;
}

main {
    height: calc(100vh - 100px);
}

a {
    text-decoration: none;
}

/* # sidebar*/

#sidebar {
    background-color: black;
    width: 100px;
    height: calc(100vh - 100px);
}

/* # home */

#home {
    overflow: auto;
    color: white;
    background-color: #141922;
    width: 100vw;
}

/*home header*/

.home-header {
    background-color: rgba(8, 11, 18, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
    text-align: end;
    line-height: 90px;
    padding-right: 5px;
}

/* # footer */

footer {
    height: 100px;
    background-color: #282828;
}

footer > div {
    border: 3px dashed white;

    flex-basis: calc(100% / 3);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.song-played {
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

footer img {
    width: 58px;
}

.volume {
    gap: 10px;
    justify-content: flex-start;
}

.rip-bar {
    text-align: center;
}

.rip-icons > * {
    font-size: 1.3rem;
    margin-right: 10px;
}

.rip-bar > div:last-child {
    gap: 10px;
}

/* # responsive */

/*xs*/
@media screen and (max-width: 586px) {
    .volume,
    .song-played {
        display: none;
    }
    
    .rip-bar {
        flex-basis: 100%;
    }
}

/*small*/

@media screen and (min-width: 639px) {
    #sidebar {
        width: 300px;
    }
}

/*medium*/

@media screen and (min-width: 870px) {
    .song-played {
        justify-content: space-between;
    }

    .song-played > div:last-child {
        margin-left: auto;
        display: inline;
    }

    .volume {
        justify-content: flex-end;
    }
}

/*desktop*/

@media screen and (min-width:1100px) {
    
}