/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

/*flex*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/*txt*/

.txt-gray {
    color: #7E7E7E
}

.txt-white {
    color: white;
}

/*border*/

.bd-white {
    border: 3px solid white;
    width: 30px;
}

.bd-gray {
    border: 3px solid gray;
    width: 50px;
}

.small {
    align-self: center;
    height: 1px;
}

/*buttons*/

.btn-big {
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 25px;
}

/* # generals*/

html {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100vh - 100px);
}

a {
    text-decoration: none;
}

h3 {
    font-size: 33px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

nav {
    margin-bottom: 40px;
}

/* # sidebar*/

#sidebar {
    background-color: black;
    width: 100px;
    height: calc(100vh - 100px);
}

img[alt="logo"] {
    display: none;
}

.logos > * {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.side-menu li {
    align-items: center;
    gap: 5px;
    padding: 10px;
}

li > img {
    height: 60px;
    margin-bottom: 10px;
}

li > span {
    display: none;
    font-size: 1.5rem;
}

#playlist {
    display: none;
    padding: 10px;
}

#playlist a {
    color: black;
    background-color: #A3A3A3;
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

#playlist li {
    margin-bottom: 15px;
}


/* # home */

#home {
    overflow: auto;
    color: white;
    background-color: #141922;
    width: 100vw;
}

/*home header*/

.home-header {
    background-color: rgba(8, 11, 18, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
    text-align: end;
    line-height: 90px;
    padding-right: 5px;
}

/*home navbar*/

.home-navbar {
    font-size: 24px;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.home-navbar li {
    white-space: pre;
    flex-basis: calc(100% / 6 - 100px / 6);
}

/* # footer */

footer {
    height: 100px;
    background-color: #282828;
}

footer > div {
    flex-basis: calc(100% / 3);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.song-played {
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

footer img {
    width: 58px;
}

.volume {
    gap: 10px;
    justify-content: flex-start;
}

.rip-bar {
    text-align: center;
}

.rip-icons > * {
    font-size: 1.3rem;
    margin-right: 10px;
}

.rip-bar > div:last-child {
    gap: 10px;
}

/* # responsive */

/*xs*/
@media screen and (max-width: 586px) {
    .volume,
    .song-played {
        display: none;
    }
    
    .rip-bar {
        flex-basis: 100%;
    }
}

/*small*/

@media screen and (min-width: 639px) {
    #sidebar {
        width: 300px;
    }

    img[alt="logo-small"] {
        display: none;
    }

    img[alt="logo"] {
        display: inline-block;
    }

    li > span {
        display: inline;
    }

    #playlist {
        display: block;
    }
}

/*medium*/

@media screen and (min-width: 870px) {
    .song-played {
        justify-content: space-between;
    }

    .song-played > div:last-child {
        margin-left: auto;
        display: inline;
    }

    .volume {
        justify-content: flex-end;
    }
}